https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz#egg=en_core_web_sm
streamlit
pdfminer.six
docx2txt
nltk
scikit-learn
spacy
pandas
joblib
transformers
torch
plotly
Pillow
pymongo
python-dotenv
